<div class="page">
  <div class="title">
    <h1>🌱 Simple</h1>
  </div>
  <hr>
  <div class="nav-bar">
    <button>Home</button>
    <button>Blog</button>
    <button>Projects</button>
    <button>Code Library</button>
    <button>Contact</button>
    <button>About</button>
    <button>CV</button>
  </div>
  <hr>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam neque. Integer imperdiet lectus quis justo. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Etiam posuere lacus quis dolor. Curabitur bibendum justo non orci. Nunc auctor. Curabitur sagittis hendrerit ante. Etiam dictum tincidunt diam. Nunc dapibus tortor vel mi dapibus sollicitudin. Mauris tincidunt sem sed arcu. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Phasellus rhoncus. Maecenas aliquet accumsan leo. Integer in sapien. Integer vulputate sem a nibh rutrum consequat.</p>

    <p>Etiam quis quam. Sed ac dolor sit amet purus malesuada congue. Vestibulum fermentum tortor id mi. Nam quis nulla. Etiam neque. Quisque tincidunt scelerisque libero. Integer pellentesque quam vel velit. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Vestibulum fermentum tortor id mi. Aliquam id dolor. Curabitur sagittis hendrerit ante. Sed convallis magna eu sem. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci.</p>

    <p>Etiam posuere lacus quis dolor. Proin mattis lacinia justo. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Pellentesque sapien. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce wisi. Nulla non lectus sed nisl molestie malesuada. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Aenean fermentum risus id tortor. Etiam bibendum elit eget erat. Nulla pulvinar eleifend sem. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. In convallis.</p>
  </div>
  <footer>No Copyright</footer>
</div>
